
@model IEnumerable<TrainingSofka.Web.Data.Entities.FlightEntity>

@{
    ViewData["Title"] = "ShowResultSFlights";
}

<h2>Fligths</h2>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PackageMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPackage)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PackageMax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PackageMin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPackage)
                </td>
                
            </tr>
        }
    </tbody>
</table>
